ul{
    display: grid;
    row-gap: 10px;
}
li::marker {
content: "🤖";
}

.list1{
    filter: drop-shadow(2px 2px 0.1px #4d35314b);
    color: blue;           
}

.list2{
    background-color: blue;
   color: white;
}
.list3{
    text-decoration: line-through rgb(216, 154, 154) 1px;
}